block navigation
    div(class='row')
        div(class='column')
            a(class='nav-button', href='/frontend/index') Home
        div(class='column')
            a(class='nav-button', href='/frontend/login') Login
        div(class='column')
            a(class='nav-button', href='/frontend/nextthing') Next Thing